In [1]:
import pyspark
from pyspark.sql import SparkSession
import os

In [2]:
conf = (
pyspark.SparkConf()
.setAppName('spark-iceberg-lab1')
.set('spark.jars.packages', 'org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.5.2,org.projectnessie.nessie-integrations:nessie-spark-extensions-3.5_2.12:0.83.1,org.apache.hadoop:hadoop-aws:3.3.4')
.set('spark.sql.extensions', 'org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions')
.set('spark.sql.catalog.nessie', 'org.apache.iceberg.spark.SparkCatalog')
.set('spark.sql.catalog.nessie.catalog-impl', 'org.apache.iceberg.nessie.NessieCatalog')
.set('spark.sql.catalog.nessie.uri', 'http://nessie:19120/api/v1')
.set('spark.sql.catalog.nessie.ref', 'main')
.set('spark.sql.catalog.nessie.authentication.type', 'NONE')
.set('spark.sql.catalog.nessie.warehouse', 's3a://warehouse/')
.set('spark.hadoop.fs.s3a.endpoint', 'http://minio:9000')
.set('spark.hadoop.fs.s3a.access.key', 'admin')
.set('spark.hadoop.fs.s3a.secret.key', 'password')
.set('spark.hadoop.fs.s3a.path.style.access', 'true')
.set('spark.hadoop.fs.s3a.connection.ssl.enabled', 'false')
)

In [3]:
spark = SparkSession.builder.config(conf=conf).getOrCreate()

:: loading settings :: url = jar:file:/home/docker/.local/lib/python3.10/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/docker/.ivy2/cache
The jars for the packages stored in: /home/docker/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.5_2.12 added as a dependency
org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12 added as a dependency
org.apache.hadoop#hadoop-aws added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-fa5ee98e-14f4-44c8-b56f-697a4e0d78c6;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.5.2 in central
	found org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12;0.83.1 in central
	found org.apache.hadoop#hadoop-aws;3.3.4 in central
	found com.amazonaws#aws-java-sdk-bundle;1.12.262 in central
	found org.wildfly.openssl#wildfly-openssl;1.0.7.Final in central
:: resolution report :: resolve 462ms :: artifacts dl 20ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.12.262 from central in [default]
	org.apache.hadoop#hadoop-aws;3.3.4 from central in [default]
	org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.5.2 from central in [default]
	org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12;0.83.1 from central in [default]
	org.wildfly.openssl#wildfly-openssl;1.0.7.Final from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   5   |   0   |   0   |   0   ||   5   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-fa5ee98e-14f4-44c8-b56f-697a4e0d78c6
	confs: [default]
	0 artifacts copied, 5 already retrieved (0kB/13ms)
25/12/19 23:10:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [5]:
spark.sql("show databases in nessie").show()

+---------+
|namespace|
+---------+
|     demo|
+---------+

In [6]:
spark.sql("show tables in nessie.demo").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|     demo|      tbl|      false|
+---------+---------+-----------+

In [7]:
spark.sql("""
CREATE TABLE nessie.demo.employee (
id INT,
role STRING,
department STRING,
salary FLOAT,
region STRING)
USING iceberg
""")

25/12/19 23:35:24 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties

DataFrame[]

In [8]:
spark.sql("show databases in nessie").show()

+---------+
|namespace|
+---------+
|     demo|
+---------+

In [9]:
spark.sql("show tables in nessie.demo").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|     demo| employee|      false|
|     demo|      tbl|      false|
+---------+---------+-----------+

In [13]:
spark.sql("""
CREATE TABLE nessie.demo.emp_partitioned (
id INT,
role STRING,
department STRING)
USING iceberg
PARTITIONED BY (department)
""")

DataFrame[]

In [14]:
spark.sql("show tables in nessie.demo").show()

+---------+---------------+-----------+
|namespace|      tableName|isTemporary|
+---------+---------------+-----------+
|     demo|emp_partitioned|      false|
|     demo|       employee|      false|
|     demo|            tbl|      false|
+---------+---------------+-----------+

In [16]:
spark.sql("""
CREATE TABLE nessie.demo.emp_partitioned_month (
id INT,
role STRING,
department STRING,
join_date DATE
)
USING iceberg
PARTITIONED BY (months(join_date))
""")

DataFrame[]

In [17]:
spark.sql("show tables in nessie.demo").show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|     demo|     emp_partitioned|      false|
|     demo|emp_partitioned_m...|      false|
|     demo|            employee|      false|
|     demo|                 tbl|      false|
+---------+--------------------+-----------+

In [18]:
spark.sql("""
ALTER TABLE nessie.demo.tbl RENAME TO tbl_renamed
""")

DataFrame[]

In [19]:
spark.sql("show tables in nessie.demo").show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|     demo|     emp_partitioned|      false|
|     demo|emp_partitioned_m...|      false|
|     demo|            employee|      false|
|     demo|         tbl_renamed|      false|
+---------+--------------------+-----------+

In [20]:
spark.sql("""
ALTER TABLE nessie.demo.employee SET TBLPROPERTIES ('write.wap.enabled'='true')
""")

DataFrame[]

In [22]:
spark.sql("""
ALTER TABLE nessie.demo.employee ADD COLUMN manager STRING
""")

DataFrame[]

In [23]:
spark.sql("""
ALTER TABLE nessie.demo.employee RENAME COLUMN role TO title
""")

DataFrame[]

In [24]:
spark.sql("""
DESC TABLE nessie.demo.employee
""")

DataFrame[col_name: string, data_type: string, comment: string]

In [25]:
spark.sql("""
DESC TABLE nessie.demo.employee
""").show()

+----------+---------+-------+
|  col_name|data_type|comment|
+----------+---------+-------+
|        id|      int|   NULL|
|     title|   string|   NULL|
|department|   string|   NULL|
|    salary|    float|   NULL|
|    region|   string|   NULL|
|   manager|   string|   NULL|
+----------+---------+-------+

In [26]:
spark.sql("""
DESC TABLE EXTENDED nessie.demo.employee
""").show()

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|                  id|                 int|   NULL|
|               title|              string|   NULL|
|          department|              string|   NULL|
|              salary|               float|   NULL|
|              region|              string|   NULL|
|             manager|              string|   NULL|
|                    |                    |       |
|  # Metadata Columns|                    |       |
|            _spec_id|                 int|       |
|          _partition|            struct<>|       |
|               _file|              string|       |
|                _pos|              bigint|       |
|            _deleted|             boolean|       |
|                    |                    |       |
|# Detailed Table ...|                    |       |
|                Name|nessie.demo.employee|       |
|                Type|             MANAGED|       |
|            Location|s3a://warehouse/d...|       |
|            Provider|             iceberg|       |
|               Owner|              docker|       |
+--------------------+--------------------+-------+
only showing top 20 rows

In [30]:
spark.sql("""
DESC TABLE EXTENDED nessie.demo.employee
""").show(200, truncate=False)

+----------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                                                                                                                                                                                                         |comment|
+----------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+
|id                          |int                                                                                                                                                                                                                                                                               |NULL   |
|title                       |string                                                                                                                                                                                                                                                                            |NULL   |
|department                  |string                                                                                                                                                                                                                                                                            |NULL   |
|salary                      |float                                                                                                                                                                                                                                                                             |NULL   |
|region                      |string                                                                                                                                                                                                                                                                            |NULL   |
|manager                     |string                                                                                                                                                                                                                                                                            |NULL   |
|                            |                                                                                                                                                                                                                                                                                  |       |
|# Metadata Columns          |                                                                                                                                                                                                                                                                                  |       |
|_spec_id                    |int                                                                                                                                                                                                                                                                               |       |
|_partition                  |struct<>                                                                                                                                                                                                                                                                          |       |
|_file                       |string                                                                                                                                                                                                                                                                            |       |
|_pos                        |bigint                                                                                                                                                                                                                                                                            |       |
|_deleted                    |boolean                                                                                                                                                                                                                                                                           |       |
|                            |                                                                                                                                                                                                                                                                                  |       |
|# Detailed Table Information|                                                                                                                                                                                                                                                                                  |       |
|Name                        |nessie.demo.employee                                                                                                                                                                                                                                                              |       |
|Type                        |MANAGED                                                                                                                                                                                                                                                                           |       |
|Location                    |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26                                                                                                                                                                                                                |       |
|Provider                    |iceberg                                                                                                                                                                                                                                                                           |       |
|Owner                       |docker                                                                                                                                                                                                                                                                            |       |
|Table Properties            |[current-snapshot-id=none,format=iceberg/parquet,format-version=2,gc.enabled=false,nessie.commit.id=457226fa50a6d9decabeb6120d72accc8b9be15bfc47dc26bf984d433ef4446f,write.metadata.delete-after-commit.enabled=false,write.parquet.compression-codec=zstd,write.wap.enabled=true]|       |
+----------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+

In [31]:
spark.sql("""
DESC TABLE EXTENDED nessie.demo.emp_partitioned
""").show(200, False)

+----------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                                                                                                                                                                                  |comment|
+----------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+
|id                          |int                                                                                                                                                                                                                                                        |NULL   |
|role                        |string                                                                                                                                                                                                                                                     |NULL   |
|department                  |string                                                                                                                                                                                                                                                     |NULL   |
|# Partition Information     |                                                                                                                                                                                                                                                           |       |
|# col_name                  |data_type                                                                                                                                                                                                                                                  |comment|
|department                  |string                                                                                                                                                                                                                                                     |NULL   |
|                            |                                                                                                                                                                                                                                                           |       |
|# Metadata Columns          |                                                                                                                                                                                                                                                           |       |
|_spec_id                    |int                                                                                                                                                                                                                                                        |       |
|_partition                  |struct<department:string>                                                                                                                                                                                                                                  |       |
|_file                       |string                                                                                                                                                                                                                                                     |       |
|_pos                        |bigint                                                                                                                                                                                                                                                     |       |
|_deleted                    |boolean                                                                                                                                                                                                                                                    |       |
|                            |                                                                                                                                                                                                                                                           |       |
|# Detailed Table Information|                                                                                                                                                                                                                                                           |       |
|Name                        |nessie.demo.emp_partitioned                                                                                                                                                                                                                                |       |
|Type                        |MANAGED                                                                                                                                                                                                                                                    |       |
|Location                    |s3a://warehouse/demo/emp_partitioned_df7d17c8-1352-46a3-92d8-c61e50467c3b                                                                                                                                                                                  |       |
|Provider                    |iceberg                                                                                                                                                                                                                                                    |       |
|Owner                       |docker                                                                                                                                                                                                                                                     |       |
|Table Properties            |[current-snapshot-id=none,format=iceberg/parquet,format-version=2,gc.enabled=false,nessie.commit.id=457226fa50a6d9decabeb6120d72accc8b9be15bfc47dc26bf984d433ef4446f,write.metadata.delete-after-commit.enabled=false,write.parquet.compression-codec=zstd]|       |
+----------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+

In [32]:
spark.sql("""
ALTER TABLE nessie.demo.employee ADD PARTITION FIELD region
""")

DataFrame[]

In [33]:
spark.sql("""
ALTER TABLE nessie.demo.employee WRITE ORDERED BY id ASC
""")

DataFrame[]

In [34]:
spark.sql("""
ALTER TABLE nessie.demo.employee SET IDENTIFIER FIELDS id
""")

IllegalArgumentException: Cannot add field id as an identifier field: not a required field

In [36]:
spark.sql("""
ALTER TABLE nessie.demo.employee ALTER COLUMN id SET NOT NULL;
""")

AnalysisException: Cannot change nullable column to non-nullable: id.; line 2 pos 0;
AlterColumn resolvedfieldname(StructField(id,IntegerType,true)), false
+- ResolvedTable org.apache.iceberg.spark.SparkCatalog@5d4beb37, demo.employee, nessie.demo.employee, [id#442, title#443, department#444, salary#445, region#446, manager#447]

In [37]:
spark.sql("DROP TABLE nessie.demo.tbl_renamed")

DataFrame[]

In [40]:
spark.sql("show tables in nessie.demo").show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|     demo|     emp_partitioned|      false|
|     demo|emp_partitioned_m...|      false|
|     demo|            employee|      false|
+---------+--------------------+-----------+

In [41]:
spark.sql("SELECT * FROM nessie.demo.employee").show()

+---+-----+----------+------+------+-------+
| id|title|department|salary|region|manager|
+---+-----+----------+------+------+-------+
+---+-----+----------+------+------+-------+

In [42]:
df_emp = spark.table("nessie.demo.employee")

In [43]:
df_emp.show()

+---+-----+----------+------+------+-------+
| id|title|department|salary|region|manager|
+---+-----+----------+------+------+-------+
+---+-----+----------+------+------+-------+

In [44]:
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
+---------+---------+-----------+

In [45]:
spark.sql("show tables in nessie").show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|     demo|     emp_partitioned|      false|
|     demo|emp_partitioned_m...|      false|
|     demo|            employee|      false|
+---------+--------------------+-----------+

In [50]:
spark.sql("""
INSERT INTO nessie.demo.employee 
VALUES 
(1, 'Software Engineer', 'Engineering', 25000, 'NA', 'Jack'), 
(2, 'Director', 'Sales', 22000, 'EMEA', 'Bo W')
""")

DataFrame[]

In [52]:
spark.sql("""
select * from nessie.demo.employee
""").show()

+---+-----------------+-----------+-------+------+-------+
| id|            title| department| salary|region|manager|
+---+-----------------+-----------+-------+------+-------+
|  2|         Director|      Sales|22000.0|  EMEA|   Bo W|
|  1|Software Engineer|Engineering|25000.0|    NA|   Jack|
+---+-----------------+-----------+-------+------+-------+

In [53]:
# Read the Avro manifest list
df = spark.read.format("avro").load("s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/snap-4776718034125825857-1-a461d5ed-9ebd-4a76-88ef-83515d85d8a9.avro")

# Show it as a table (easy reading)
df.show(truncate=False)

AnalysisException: Failed to find data source: avro. Avro is built-in but external data source module since Spark 2.4. Please deploy the application as per the deployment section of Apache Avro Data Source Guide.

In [60]:
spark.sql("""
SELECT * FROM nessie.demo.employee.snapshots
""").show(truncate=False)

+-----------------------+-------------------+---------+---------+------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|committed_at           |snapshot_id        |parent_id|operation|manifest_list                                                                                                                                   |summary                                                                                                                                                                                                                                                                                         |
+-----------------------+-------------------+---------+---------+------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|2025-12-22 22:37:16.707|4776718034125825857|NULL     |append   |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/snap-4776718034125825857-1-a461d5ed-9ebd-4a76-88ef-83515d85d8a9.avro|{spark.app.id -> local-1766185832127, added-data-files -> 2, added-records -> 2, added-files-size -> 3284, changed-partition-count -> 2, total-records -> 2, total-files-size -> 3284, total-data-files -> 2, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
+-----------------------+-------------------+---------+---------+------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [64]:
spark.sql("""
SELECT * FROM nessie.demo.employee.manifests
""").show(truncate=False)

+-------+------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+------------------------+---------------------------+--------------------------+--------------------------+
|content|path                                                                                                                    |length|partition_spec_id|added_snapshot_id  |added_data_files_count|existing_data_files_count|deleted_data_files_count|added_delete_files_count|existing_delete_files_count|deleted_delete_files_count|partition_summaries       |
+-------+------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+------------------------+---------------------------+--------------------------+--------------------------+
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/a461d5ed-9ebd-4a76-88ef-83515d85d8a9-m0.avro|7286  |1                |4776718034125825857|2                     |0                        |0                       |0                       |0                          |0                         |[{false, false, EMEA, NA}]|
+-------+------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+------------------------+---------------------------+--------------------------+--------------------------+

In [65]:
spark.sql("""
SELECT * FROM nessie.demo.employee.metadata_log_entries
""").show(truncate=False)

+-----------------------+------------------------------------------------------------------------------------------------------------------------------------+-------------------+----------------+----------------------+
|timestamp              |file                                                                                                                                |latest_snapshot_id |latest_schema_id|latest_sequence_number|
+-----------------------+------------------------------------------------------------------------------------------------------------------------------------+-------------------+----------------+----------------------+
|2025-12-20 19:06:28.317|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/00000-d636e9e1-f73b-4c55-9712-132f8c4e7d8d.metadata.json|NULL               |NULL            |NULL                  |
|2025-12-20 19:26:43.429|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/00001-3efbdb2d-34de-4d27-a519-88e7caa35c28.metadata.json|NULL               |NULL            |NULL                  |
|2025-12-20 19:40:04.117|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/00002-e3fe2283-2188-4be2-8089-cab70adfeaf6.metadata.json|NULL               |NULL            |NULL                  |
|2025-12-20 22:20:11.146|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/00003-7dbc3a2a-e016-4eb8-a603-8b08931b095d.metadata.json|NULL               |NULL            |NULL                  |
|2025-12-20 23:21:13.028|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/00004-35493455-9cfb-40d8-8901-c817e457d203.metadata.json|NULL               |NULL            |NULL                  |
|2025-12-22 22:37:08.655|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/00005-b7e15f88-0f8e-4469-a60c-6b13bc56008d.metadata.json|NULL               |NULL            |NULL                  |
|2025-12-23 05:02:09.963|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/00006-6f7f0bbf-6f64-46ec-8460-b8608b1ec724.metadata.json|4776718034125825857|2               |1                     |
+-----------------------+------------------------------------------------------------------------------------------------------------------------------------+-------------------+----------------+----------------------+

In [66]:
spark.sql("""
SELECT * FROM nessie.demo.employee.files
""").show(truncate=False)

+-------+------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|content|file_path                                                                                                                                       |file_format|spec_id|partition|record_count|file_size_in_bytes|column_sizes                                          |value_counts                                    |null_value_counts                               |nan_value_counts|lower_bounds                                                                                                                                                               |upper_bounds                                                                                                                                                               |key_metadata|split_offsets|equality_ids|sort_order_id|readable_metrics                                                                                                                                                                                                   |
+-------+------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=EMEA/00000-4-084c8cb7-a79e-4234-8d10-978a45faf592-0-00001.parquet|PARQUET    |1      |{EMEA}   |1           |1597              |{1 -> 36, 2 -> 44, 3 -> 41, 4 -> 36, 5 -> 40, 6 -> 40}|{1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1, 5 -> 1, 6 -> 1}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [02 00 00 00], 2 -> [44 69 72 65 63 74 6F 72], 3 -> [53 61 6C 65 73], 4 -> [00 E0 AB 46], 5 -> [45 4D 45 41], 6 -> [42 6F 20 57]}                                    |{1 -> [02 00 00 00], 2 -> [44 69 72 65 63 74 6F 72], 3 -> [53 61 6C 65 73], 4 -> [00 E0 AB 46], 5 -> [45 4D 45 41], 6 -> [42 6F 20 57]}                                    |NULL        |[4]          |NULL        |0            |{{41, 1, 0, NULL, Sales, Sales}, {36, 1, 0, NULL, 2, 2}, {40, 1, 0, NULL, Bo W, Bo W}, {40, 1, 0, NULL, EMEA, EMEA}, {36, 1, 0, 0, 22000.0, 22000.0}, {44, 1, 0, NULL, Director, Director}}                        |
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=NA/00000-4-084c8cb7-a79e-4234-8d10-978a45faf592-0-00002.parquet  |PARQUET    |1      |{NA}     |1           |1687              |{1 -> 36, 2 -> 53, 3 -> 47, 4 -> 35, 5 -> 38, 6 -> 40}|{1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1, 5 -> 1, 6 -> 1}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [01 00 00 00], 2 -> [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 65], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [4E 41], 6 -> [4A 61 63 6B]}|{1 -> [01 00 00 00], 2 -> [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 66], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [4E 41], 6 -> [4A 61 63 6B]}|NULL        |[4]          |NULL        |0            |{{47, 1, 0, NULL, Engineering, Engineering}, {36, 1, 0, NULL, 1, 1}, {40, 1, 0, NULL, Jack, Jack}, {38, 1, 0, NULL, NA, NA}, {35, 1, 0, 0, 25000.0, 25000.0}, {53, 1, 0, NULL, Software Enginee, Software Enginef}}|
+-------+------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [70]:
# Load the metadata file from your MinIO/S3 path
df = spark.read.option("multiLine", True).json("s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/00006-6f7f0bbf-6f64-46ec-8460-b8608b1ec724.metadata.json")

# View the structure
df.printSchema()
df.show()

root
 |-- current-schema-id: long (nullable = true)
 |-- current-snapshot-id: long (nullable = true)
 |-- default-sort-order-id: long (nullable = true)
 |-- default-spec-id: long (nullable = true)
 |-- format-version: long (nullable = true)
 |-- last-column-id: long (nullable = true)
 |-- last-partition-id: long (nullable = true)
 |-- last-sequence-number: long (nullable = true)
 |-- last-updated-ms: long (nullable = true)
 |-- location: string (nullable = true)
 |-- metadata-log: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- metadata-file: string (nullable = true)
 |    |    |-- timestamp-ms: long (nullable = true)
 |-- partition-specs: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- fields: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |-- field-id: long (nullable = true)
 |    |    |    |    |-- name: string (nullable = true)
 |    |    |    |    |-- source-id: long (nullable = true)
 |    |    |    |    |-- transform: string (nullable = true)
 |    |    |-- spec-id: long (nullable = true)
 |-- partition-statistics: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- properties: struct (nullable = true)
 |    |-- gc.enabled: string (nullable = true)
 |    |-- nessie.commit.id: string (nullable = true)
 |    |-- owner: string (nullable = true)
 |    |-- write.distribution-mode: string (nullable = true)
 |    |-- write.metadata.delete-after-commit.enabled: string (nullable = true)
 |    |-- write.parquet.compression-codec: string (nullable = true)
 |    |-- write.wap.enabled: string (nullable = true)
 |-- refs: struct (nullable = true)
 |    |-- main: struct (nullable = true)
 |    |    |-- snapshot-id: long (nullable = true)
 |    |    |-- type: string (nullable = true)
 |-- schemas: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- fields: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |-- id: long (nullable = true)
 |    |    |    |    |-- name: string (nullable = true)
 |    |    |    |    |-- required: boolean (nullable = true)
 |    |    |    |    |-- type: string (nullable = true)
 |    |    |-- schema-id: long (nullable = true)
 |    |    |-- type: string (nullable = true)
 |-- snapshot-log: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- snapshot-id: long (nullable = true)
 |    |    |-- timestamp-ms: long (nullable = true)
 |-- snapshots: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- manifest-list: string (nullable = true)
 |    |    |-- schema-id: long (nullable = true)
 |    |    |-- sequence-number: long (nullable = true)
 |    |    |-- snapshot-id: long (nullable = true)
 |    |    |-- summary: struct (nullable = true)
 |    |    |    |-- added-data-files: string (nullable = true)
 |    |    |    |-- added-files-size: string (nullable = true)
 |    |    |    |-- added-records: string (nullable = true)
 |    |    |    |-- changed-partition-count: string (nullable = true)
 |    |    |    |-- operation: string (nullable = true)
 |    |    |    |-- spark.app.id: string (nullable = true)
 |    |    |    |-- total-data-files: string (nullable = true)
 |    |    |    |-- total-delete-files: string (nullable = true)
 |    |    |    |-- total-equality-deletes: string (nullable = true)
 |    |    |    |-- total-files-size: string (nullable = true)
 |    |    |    |-- total-position-deletes: string (nullable = true)
 |    |    |    |-- total-records: string (nullable = true)
 |    |    |-- timestamp-ms: long (nullable = true)
 |-- sort-orders: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- fields: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |-- direction: string (nullable = true)
 |    |    |    |    |-- null-order: string (nullable = true)
 |    |    |    |    |-- source-id: long (nullable = true)
 |    |    |    |    |-- transform: string (nullable = true)
 |    |    |-- order-id: long (nullable = true)
 |-- statistics: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- table-uuid: string (nullable = true)

+-----------------+-------------------+---------------------+---------------+--------------+--------------+-----------------+--------------------+---------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+--------------------+
|current-schema-id|current-snapshot-id|default-sort-order-id|default-spec-id|format-version|last-column-id|last-partition-id|last-sequence-number|last-updated-ms|            location|        metadata-log|     partition-specs|partition-statistics|          properties|                refs|             schemas|        snapshot-log|           snapshots|         sort-orders|statistics|          table-uuid|
+-----------------+-------------------+---------------------+---------------+--------------+--------------+-----------------+--------------------+---------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+--------------------+
|                2|4776718034125825857|                    1|              1|             2|             6|             1000|                   1|  1766443036707|s3a://warehouse/d...|[{s3a://warehouse...|[{[], 0}, {[{1000...|                  []|{false, 001d1df2c...|{{477671803412582...|[{[{1, id, false,...|[{477671803412582...|[{s3a://warehouse...|[{[], 0}, {[{asc,...|        []|28ff71a9-89bc-4ab...|
+-----------------+-------------------+---------------------+---------------+--------------+--------------+-----------------+--------------------+---------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+--------------------+