In [1]:
import pyspark
from pyspark.sql import SparkSession
import os

In [2]:
packages = [
    "org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.5.2",
    "org.projectnessie.nessie-integrations:nessie-spark-extensions-3.5_2.12:0.83.1",
    "org.apache.hadoop:hadoop-aws:3.3.4",
    "org.apache.spark:spark-avro_2.12:3.5.0"
]
conf = (
pyspark.SparkConf()
.setAppName('spark-iceberg-lab1')
.set('spark.jars.packages', ",".join(packages))
.set('spark.sql.extensions', 'org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions')
.set('spark.sql.catalog.nessie', 'org.apache.iceberg.spark.SparkCatalog')
.set('spark.sql.catalog.nessie.catalog-impl', 'org.apache.iceberg.nessie.NessieCatalog')
.set('spark.sql.catalog.nessie.uri', 'http://nessie:19120/api/v1')
.set('spark.sql.catalog.nessie.ref', 'main')
.set('spark.sql.catalog.nessie.authentication.type', 'NONE')
.set('spark.sql.catalog.nessie.warehouse', 's3a://warehouse/')
.set('spark.hadoop.fs.s3a.endpoint', 'http://minio:9000')
.set('spark.hadoop.fs.s3a.access.key', 'admin')
.set('spark.hadoop.fs.s3a.secret.key', 'password')
.set('spark.hadoop.fs.s3a.path.style.access', 'true')
.set('spark.hadoop.fs.s3a.connection.ssl.enabled', 'false')
)

In [3]:
spark = SparkSession.builder.config(conf=conf).getOrCreate()

:: loading settings :: url = jar:file:/home/docker/.local/lib/python3.10/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/docker/.ivy2/cache
The jars for the packages stored in: /home/docker/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.5_2.12 added as a dependency
org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12 added as a dependency
org.apache.hadoop#hadoop-aws added as a dependency
org.apache.spark#spark-avro_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-4513f097-3680-4036-a256-cf856e0c1c1d;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.5.2 in central
	found org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12;0.83.1 in central
	found org.apache.hadoop#hadoop-aws;3.3.4 in central
	found com.amazonaws#aws-java-sdk-bundle;1.12.262 in central
	found org.wildfly.openssl#wildfly-openssl;1.0.7.Final in central
	found org.apache.spark#spark-avro_2.12;3.5.0 in central
	found org.tukaani#xz;1.9 in central
:: resolution report :: resolve 760ms :: artifacts dl 22ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.12.262 from central in [default]
	org.apache.hadoop#hadoop-aws;3.3.4 from central in [default]
	org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.5.2 from central in [default]
	org.apache.spark#spark-avro_2.12;3.5.0 from central in [default]
	org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12;0.83.1 from central in [default]
	org.tukaani#xz;1.9 from central in [default]
	org.wildfly.openssl#wildfly-openssl;1.0.7.Final from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   7   |   0   |   0   |   0   ||   7   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-4513f097-3680-4036-a256-cf856e0c1c1d
	confs: [default]
	0 artifacts copied, 7 already retrieved (0kB/29ms)
26/01/01 01:10:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/01 01:10:24 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
# Read the Avro manifest list
df = spark.read.format("avro").load("s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/snap-4776718034125825857-1-a461d5ed-9ebd-4a76-88ef-83515d85d8a9.avro")

# Show it as a table (easy reading)
df.show(truncate=False)

25/12/23 18:51:56 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties

+------------------------------------------------------------------------------------------------------------------------+---------------+-----------------+-------+---------------+-------------------+-------------------+-----------------+--------------------+-------------------+----------------+-------------------+------------------+----------------------------------------+
|manifest_path                                                                                                           |manifest_length|partition_spec_id|content|sequence_number|min_sequence_number|added_snapshot_id  |added_files_count|existing_files_count|deleted_files_count|added_rows_count|existing_rows_count|deleted_rows_count|partitions                              |
+------------------------------------------------------------------------------------------------------------------------+---------------+-----------------+-------+---------------+-------------------+-------------------+-----------------+--------------------+-------------------+----------------+-------------------+------------------+----------------------------------------+
|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/a461d5ed-9ebd-4a76-88ef-83515d85d8a9-m0.avro|7286           |1                |0      |1              |1                  |4776718034125825857|2                |0                   |0                  |2               |0                  |0                 |[{false, false, [45 4D 45 41], [4E 41]}]|
+------------------------------------------------------------------------------------------------------------------------+---------------+-----------------+-------+---------------+-------------------+-------------------+-----------------+--------------------+-------------------+----------------+-------------------+------------------+----------------------------------------+

In [6]:
spark.sql("""
SELECT * FROM nessie.demo.employee.snapshots
""").show(truncate=False)

+-----------------------+-------------------+---------+---------+------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|committed_at           |snapshot_id        |parent_id|operation|manifest_list                                                                                                                                   |summary                                                                                                                                                                                                                                                                                         |
+-----------------------+-------------------+---------+---------+------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|2025-12-22 22:37:16.707|4776718034125825857|NULL     |append   |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/snap-4776718034125825857-1-a461d5ed-9ebd-4a76-88ef-83515d85d8a9.avro|{spark.app.id -> local-1766185832127, added-data-files -> 2, added-records -> 2, added-files-size -> 3284, changed-partition-count -> 2, total-records -> 2, total-files-size -> 3284, total-data-files -> 2, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
+-----------------------+-------------------+---------+---------+------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [7]:
spark.sql("""
SELECT * FROM nessie.demo.employee.manifests
""").show(truncate=False)

+-------+------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+------------------------+---------------------------+--------------------------+--------------------------+
|content|path                                                                                                                    |length|partition_spec_id|added_snapshot_id  |added_data_files_count|existing_data_files_count|deleted_data_files_count|added_delete_files_count|existing_delete_files_count|deleted_delete_files_count|partition_summaries       |
+-------+------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+------------------------+---------------------------+--------------------------+--------------------------+
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/a461d5ed-9ebd-4a76-88ef-83515d85d8a9-m0.avro|7286  |1                |4776718034125825857|2                     |0                        |0                       |0                       |0                          |0                         |[{false, false, EMEA, NA}]|
+-------+------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+------------------------+---------------------------+--------------------------+--------------------------+

In [8]:
spark.sql("""
SELECT * FROM nessie.demo.employee.files
""").show(truncate=False)

+-------+------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|content|file_path                                                                                                                                       |file_format|spec_id|partition|record_count|file_size_in_bytes|column_sizes                                          |value_counts                                    |null_value_counts                               |nan_value_counts|lower_bounds                                                                                                                                                               |upper_bounds                                                                                                                                                               |key_metadata|split_offsets|equality_ids|sort_order_id|readable_metrics                                                                                                                                                                                                   |
+-------+------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=EMEA/00000-4-084c8cb7-a79e-4234-8d10-978a45faf592-0-00001.parquet|PARQUET    |1      |{EMEA}   |1           |1597              |{1 -> 36, 2 -> 44, 3 -> 41, 4 -> 36, 5 -> 40, 6 -> 40}|{1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1, 5 -> 1, 6 -> 1}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [02 00 00 00], 2 -> [44 69 72 65 63 74 6F 72], 3 -> [53 61 6C 65 73], 4 -> [00 E0 AB 46], 5 -> [45 4D 45 41], 6 -> [42 6F 20 57]}                                    |{1 -> [02 00 00 00], 2 -> [44 69 72 65 63 74 6F 72], 3 -> [53 61 6C 65 73], 4 -> [00 E0 AB 46], 5 -> [45 4D 45 41], 6 -> [42 6F 20 57]}                                    |NULL        |[4]          |NULL        |0            |{{41, 1, 0, NULL, Sales, Sales}, {36, 1, 0, NULL, 2, 2}, {40, 1, 0, NULL, Bo W, Bo W}, {40, 1, 0, NULL, EMEA, EMEA}, {36, 1, 0, 0, 22000.0, 22000.0}, {44, 1, 0, NULL, Director, Director}}                        |
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=NA/00000-4-084c8cb7-a79e-4234-8d10-978a45faf592-0-00002.parquet  |PARQUET    |1      |{NA}     |1           |1687              |{1 -> 36, 2 -> 53, 3 -> 47, 4 -> 35, 5 -> 38, 6 -> 40}|{1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1, 5 -> 1, 6 -> 1}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [01 00 00 00], 2 -> [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 65], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [4E 41], 6 -> [4A 61 63 6B]}|{1 -> [01 00 00 00], 2 -> [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 66], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [4E 41], 6 -> [4A 61 63 6B]}|NULL        |[4]          |NULL        |0            |{{47, 1, 0, NULL, Engineering, Engineering}, {36, 1, 0, NULL, 1, 1}, {40, 1, 0, NULL, Jack, Jack}, {38, 1, 0, NULL, NA, NA}, {35, 1, 0, 0, 25000.0, 25000.0}, {53, 1, 0, NULL, Software Enginee, Software Enginef}}|
+-------+------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [9]:
# Read the Avro manifest list
df = spark.read.format("avro").load("s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/a461d5ed-9ebd-4a76-88ef-83515d85d8a9-m0.avro")

# Show it as a table (easy reading)
df.show(truncate=False)

+------+-------------------+---------------+--------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|status|snapshot_id        |sequence_number|file_sequence_number|data_file                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |
+------+-------------------+---------------+--------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1     |4776718034125825857|NULL           |NULL                |{0, s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=EMEA/00000-4-084c8cb7-a79e-4234-8d10-978a45faf592-0-00001.parquet, PARQUET, {EMEA}, 1, 1597, [{1, 36}, {2, 44}, {3, 41}, {4, 36}, {5, 40}, {6, 40}], [{1, 1}, {2, 1}, {3, 1}, {4, 1}, {5, 1}, {6, 1}], [{1, 0}, {2, 0}, {3, 0}, {4, 0}, {5, 0}, {6, 0}], [{4, 0}], [{1, [02 00 00 00]}, {2, [44 69 72 65 63 74 6F 72]}, {3, [53 61 6C 65 73]}, {4, [00 E0 AB 46]}, {5, [45 4D 45 41]}, {6, [42 6F 20 57]}], [{1, [02 00 00 00]}, {2, [44 69 72 65 63 74 6F 72]}, {3, [53 61 6C 65 73]}, {4, [00 E0 AB 46]}, {5, [45 4D 45 41]}, {6, [42 6F 20 57]}], NULL, [4], NULL, 0}                                                                    |
|1     |4776718034125825857|NULL           |NULL                |{0, s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=NA/00000-4-084c8cb7-a79e-4234-8d10-978a45faf592-0-00002.parquet, PARQUET, {NA}, 1, 1687, [{1, 36}, {2, 53}, {3, 47}, {4, 35}, {5, 38}, {6, 40}], [{1, 1}, {2, 1}, {3, 1}, {4, 1}, {5, 1}, {6, 1}], [{1, 0}, {2, 0}, {3, 0}, {4, 0}, {5, 0}, {6, 0}], [{4, 0}], [{1, [01 00 00 00]}, {2, [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 65]}, {3, [45 6E 67 69 6E 65 65 72 69 6E 67]}, {4, [00 50 C3 46]}, {5, [4E 41]}, {6, [4A 61 63 6B]}], [{1, [01 00 00 00]}, {2, [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 66]}, {3, [45 6E 67 69 6E 65 65 72 69 6E 67]}, {4, [00 50 C3 46]}, {5, [4E 41]}, {6, [4A 61 63 6B]}], NULL, [4], NULL, 0}|
+------+-------------------+---------------+--------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [10]:
spark.sql("""
show tables in nessie.demo
""").show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|     demo|     emp_partitioned|      false|
|     demo|emp_partitioned_m...|      false|
|     demo|            employee|      false|
+---------+--------------------+-----------+

In [11]:
spark.sql("""
select * from nessie.demo.employee
""").show()

+---+-----------------+-----------+-------+------+-------+
| id|            title| department| salary|region|manager|
+---+-----------------+-----------+-------+------+-------+
|  2|         Director|      Sales|22000.0|  EMEA|   Bo W|
|  1|Software Engineer|Engineering|25000.0|    NA|   Jack|
+---+-----------------+-----------+-------+------+-------+

In [16]:
spark.sql("""
create table nessie.demo.employee_updates (
   id int,
   title string,
   department string,
   salary float,
   region string,
   manager string )
using iceberg
""")

DataFrame[]

In [14]:
spark.sql("""
select * from nessie.demo.employee
""").show()

+---+-----------------+-----------+-------+------+-------+
| id|            title| department| salary|region|manager|
+---+-----------------+-----------+-------+------+-------+
|  2|         Director|      Sales|22000.0|  EMEA|   Bo W|
|  1|Software Engineer|Engineering|25000.0|    NA|   Jack|
+---+-----------------+-----------+-------+------+-------+

In [17]:
spark.sql("""
show tables in nessie.demo
""").show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|     demo|     emp_partitioned|      false|
|     demo|emp_partitioned_m...|      false|
|     demo|            employee|      false|
|     demo|    employee_updates|      false|
+---------+--------------------+-----------+

In [18]:
spark.sql("INSERT INTO nessie.demo.employee_updates VALUES (3, 'Manager', 'Engineering', 25000, 'APAC', 'Bo W'), (4, 'Developer', 'Engineering', 12000, 'EMEA', 'Bo W')")

DataFrame[]

In [19]:
spark.sql("""
select * from nessie.demo.employee_updates
""").show()

+---+---------+-----------+-------+------+-------+
| id|    title| department| salary|region|manager|
+---+---------+-----------+-------+------+-------+
|  3|  Manager|Engineering|25000.0|  APAC|   Bo W|
|  4|Developer|Engineering|12000.0|  EMEA|   Bo W|
+---+---------+-----------+-------+------+-------+

In [21]:
spark.sql("""
merge into nessie.demo.employee as target
using (select * from nessie.demo.employee_updates) as source
on source.id = target.id
when matched and source.title = 'Manager' and source.salary > 10000 then
   update set target.salary = source.salary
when not matched then
   insert *
""")

DataFrame[]

In [22]:
spark.sql("""
select * from nessie.demo.employee
""").show()

+---+-----------------+-----------+-------+------+-------+
| id|            title| department| salary|region|manager|
+---+-----------------+-----------+-------+------+-------+
|  3|          Manager|Engineering|25000.0|  APAC|   Bo W|
|  2|         Director|      Sales|22000.0|  EMEA|   Bo W|
|  4|        Developer|Engineering|12000.0|  EMEA|   Bo W|
|  1|Software Engineer|Engineering|25000.0|    NA|   Jack|
+---+-----------------+-----------+-------+------+-------+

In [23]:
# Read the Avro manifest list
df = spark.read.format("avro").load("s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/snap-5620577962586266168-1-d7016d66-b1e4-439b-a800-eb7a2e35f080.avro")

# Show it as a table (easy reading)
df.show(truncate=False)

+------------------------------------------------------------------------------------------------------------------------+---------------+-----------------+-------+---------------+-------------------+-------------------+-----------------+--------------------+-------------------+----------------+-------------------+------------------+----------------------------------------------+
|manifest_path                                                                                                           |manifest_length|partition_spec_id|content|sequence_number|min_sequence_number|added_snapshot_id  |added_files_count|existing_files_count|deleted_files_count|added_rows_count|existing_rows_count|deleted_rows_count|partitions                                    |
+------------------------------------------------------------------------------------------------------------------------+---------------+-----------------+-------+---------------+-------------------+-------------------+-----------------+--------------------+-------------------+----------------+-------------------+------------------+----------------------------------------------+
|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/d7016d66-b1e4-439b-a800-eb7a2e35f080-m0.avro|7262           |1                |0      |2              |2                  |5620577962586266168|2                |0                   |0                  |2               |0                  |0                 |[{false, false, [41 50 41 43], [45 4D 45 41]}]|
|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/a461d5ed-9ebd-4a76-88ef-83515d85d8a9-m0.avro|7286           |1                |0      |1              |1                  |4776718034125825857|2                |0                   |0                  |2               |0                  |0                 |[{false, false, [45 4D 45 41], [4E 41]}]      |
+------------------------------------------------------------------------------------------------------------------------+---------------+-----------------+-------+---------------+-------------------+-------------------+-----------------+--------------------+-------------------+----------------+-------------------+------------------+----------------------------------------------+

In [24]:
# Read the Avro manifest list
df = spark.read.format("avro").load("s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/d7016d66-b1e4-439b-a800-eb7a2e35f080-m0.avro")

# Show it as a table (easy reading)
df.show(truncate=False)

+------+-------------------+---------------+--------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|status|snapshot_id        |sequence_number|file_sequence_number|data_file                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |
+------+-------------------+---------------+--------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1     |5620577962586266168|NULL           |NULL                |{0, s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=APAC/00000-14-7bdb7b0b-05b1-4332-9bcb-9f627d2f50cd-0-00001.parquet, PARQUET, {APAC}, 1, 1680, [{1, 42}, {2, 49}, {3, 53}, {4, 42}, {5, 46}, {6, 46}], [{1, 1}, {2, 1}, {3, 1}, {4, 1}, {5, 1}, {6, 1}], [{1, 0}, {2, 0}, {3, 0}, {4, 0}, {5, 0}, {6, 0}], [{4, 0}], [{1, [03 00 00 00]}, {2, [4D 61 6E 61 67 65 72]}, {3, [45 6E 67 69 6E 65 65 72 69 6E 67]}, {4, [00 50 C3 46]}, {5, [41 50 41 43]}, {6, [42 6F 20 57]}], [{1, [03 00 00 00]}, {2, [4D 61 6E 61 67 65 72]}, {3, [45 6E 67 69 6E 65 65 72 69 6E 67]}, {4, [00 50 C3 46]}, {5, [41 50 41 43]}, {6, [42 6F 20 57]}], NULL, [4], NULL, 0}            |
|1     |5620577962586266168|NULL           |NULL                |{0, s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=EMEA/00000-14-7bdb7b0b-05b1-4332-9bcb-9f627d2f50cd-0-00002.parquet, PARQUET, {EMEA}, 1, 1694, [{1, 42}, {2, 51}, {3, 53}, {4, 42}, {5, 46}, {6, 46}], [{1, 1}, {2, 1}, {3, 1}, {4, 1}, {5, 1}, {6, 1}], [{1, 0}, {2, 0}, {3, 0}, {4, 0}, {5, 0}, {6, 0}], [{4, 0}], [{1, [04 00 00 00]}, {2, [44 65 76 65 6C 6F 70 65 72]}, {3, [45 6E 67 69 6E 65 65 72 69 6E 67]}, {4, [00 80 3B 46]}, {5, [45 4D 45 41]}, {6, [42 6F 20 57]}], [{1, [04 00 00 00]}, {2, [44 65 76 65 6C 6F 70 65 72]}, {3, [45 6E 67 69 6E 65 65 72 69 6E 67]}, {4, [00 80 3B 46]}, {5, [45 4D 45 41]}, {6, [42 6F 20 57]}], NULL, [4], NULL, 0}|
+------+-------------------+---------------+--------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [25]:
spark.sql("""
SELECT * FROM nessie.demo.employee.files
""").show(truncate=False)

+-------+-------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|content|file_path                                                                                                                                        |file_format|spec_id|partition|record_count|file_size_in_bytes|column_sizes                                          |value_counts                                    |null_value_counts                               |nan_value_counts|lower_bounds                                                                                                                                                               |upper_bounds                                                                                                                                                               |key_metadata|split_offsets|equality_ids|sort_order_id|readable_metrics                                                                                                                                                                                                   |
+-------+-------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=APAC/00000-14-7bdb7b0b-05b1-4332-9bcb-9f627d2f50cd-0-00001.parquet|PARQUET    |1      |{APAC}   |1           |1680              |{1 -> 42, 2 -> 49, 3 -> 53, 4 -> 42, 5 -> 46, 6 -> 46}|{1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1, 5 -> 1, 6 -> 1}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [03 00 00 00], 2 -> [4D 61 6E 61 67 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [41 50 41 43], 6 -> [42 6F 20 57]}                     |{1 -> [03 00 00 00], 2 -> [4D 61 6E 61 67 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [41 50 41 43], 6 -> [42 6F 20 57]}                     |NULL        |[4]          |NULL        |0            |{{53, 1, 0, NULL, Engineering, Engineering}, {42, 1, 0, NULL, 3, 3}, {46, 1, 0, NULL, Bo W, Bo W}, {46, 1, 0, NULL, APAC, APAC}, {42, 1, 0, 0, 25000.0, 25000.0}, {49, 1, 0, NULL, Manager, Manager}}              |
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=EMEA/00000-14-7bdb7b0b-05b1-4332-9bcb-9f627d2f50cd-0-00002.parquet|PARQUET    |1      |{EMEA}   |1           |1694              |{1 -> 42, 2 -> 51, 3 -> 53, 4 -> 42, 5 -> 46, 6 -> 46}|{1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1, 5 -> 1, 6 -> 1}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [04 00 00 00], 2 -> [44 65 76 65 6C 6F 70 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 80 3B 46], 5 -> [45 4D 45 41], 6 -> [42 6F 20 57]}               |{1 -> [04 00 00 00], 2 -> [44 65 76 65 6C 6F 70 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 80 3B 46], 5 -> [45 4D 45 41], 6 -> [42 6F 20 57]}               |NULL        |[4]          |NULL        |0            |{{53, 1, 0, NULL, Engineering, Engineering}, {42, 1, 0, NULL, 4, 4}, {46, 1, 0, NULL, Bo W, Bo W}, {46, 1, 0, NULL, EMEA, EMEA}, {42, 1, 0, 0, 12000.0, 12000.0}, {51, 1, 0, NULL, Developer, Developer}}          |
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=EMEA/00000-4-084c8cb7-a79e-4234-8d10-978a45faf592-0-00001.parquet |PARQUET    |1      |{EMEA}   |1           |1597              |{1 -> 36, 2 -> 44, 3 -> 41, 4 -> 36, 5 -> 40, 6 -> 40}|{1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1, 5 -> 1, 6 -> 1}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [02 00 00 00], 2 -> [44 69 72 65 63 74 6F 72], 3 -> [53 61 6C 65 73], 4 -> [00 E0 AB 46], 5 -> [45 4D 45 41], 6 -> [42 6F 20 57]}                                    |{1 -> [02 00 00 00], 2 -> [44 69 72 65 63 74 6F 72], 3 -> [53 61 6C 65 73], 4 -> [00 E0 AB 46], 5 -> [45 4D 45 41], 6 -> [42 6F 20 57]}                                    |NULL        |[4]          |NULL        |0            |{{41, 1, 0, NULL, Sales, Sales}, {36, 1, 0, NULL, 2, 2}, {40, 1, 0, NULL, Bo W, Bo W}, {40, 1, 0, NULL, EMEA, EMEA}, {36, 1, 0, 0, 22000.0, 22000.0}, {44, 1, 0, NULL, Director, Director}}                        |
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=NA/00000-4-084c8cb7-a79e-4234-8d10-978a45faf592-0-00002.parquet   |PARQUET    |1      |{NA}     |1           |1687              |{1 -> 36, 2 -> 53, 3 -> 47, 4 -> 35, 5 -> 38, 6 -> 40}|{1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1, 5 -> 1, 6 -> 1}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [01 00 00 00], 2 -> [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 65], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [4E 41], 6 -> [4A 61 63 6B]}|{1 -> [01 00 00 00], 2 -> [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 66], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [4E 41], 6 -> [4A 61 63 6B]}|NULL        |[4]          |NULL        |0            |{{47, 1, 0, NULL, Engineering, Engineering}, {36, 1, 0, NULL, 1, 1}, {40, 1, 0, NULL, Jack, Jack}, {38, 1, 0, NULL, NA, NA}, {35, 1, 0, 0, 25000.0, 25000.0}, {53, 1, 0, NULL, Software Enginee, Software Enginef}}|
+-------+-------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [26]:
spark.sql("""
CREATE TABLE nessie.demo.employee_source
USING iceberg
PARTITIONED BY (region)
AS SELECT *
FROM nessie.demo.employee
""")

DataFrame[]

In [27]:
spark.sql("""
select * from nessie.demo.employee_source
""").show()

+---+-----------------+-----------+-------+------+-------+
| id|            title| department| salary|region|manager|
+---+-----------------+-----------+-------+------+-------+
|  3|          Manager|Engineering|25000.0|  APAC|   Bo W|
|  1|Software Engineer|Engineering|25000.0|    NA|   Jack|
|  4|        Developer|Engineering|12000.0|  EMEA|   Bo W|
|  2|         Director|      Sales|22000.0|  EMEA|   Bo W|
+---+-----------------+-----------+-------+------+-------+

In [28]:
spark.sql("""
UPDATE nessie.demo.employee_source
SET title = 'Manager', salary = 25000
WHERE id = 2
""")

DataFrame[]

In [29]:
spark.sql("""
select * from nessie.demo.employee_source
""").show()

+---+-----------------+-----------+-------+------+-------+
| id|            title| department| salary|region|manager|
+---+-----------------+-----------+-------+------+-------+
|  4|        Developer|Engineering|12000.0|  EMEA|   Bo W|
|  2|          Manager|      Sales|25000.0|  EMEA|   Bo W|
|  3|          Manager|Engineering|25000.0|  APAC|   Bo W|
|  1|Software Engineer|Engineering|25000.0|    NA|   Jack|
+---+-----------------+-----------+-------+------+-------+

In [30]:
spark.sql("""
select * from nessie.demo.employee_source.snapshots
""").show()

+--------------------+-------------------+-------------------+---------+--------------------+--------------------+
|        committed_at|        snapshot_id|          parent_id|operation|       manifest_list|             summary|
+--------------------+-------------------+-------------------+---------+--------------------+--------------------+
|2025-12-23 22:08:...|6834224639275070960|               NULL|   append|s3a://warehouse/d...|{spark.app.id -> ...|
|2025-12-23 22:19:...|6829033160407099953|6834224639275070960|overwrite|s3a://warehouse/d...|{spark.app.id -> ...|
+--------------------+-------------------+-------------------+---------+--------------------+--------------------+

In [32]:
# Read the Avro manifest list
df = spark.read.format("avro").load("s3a://warehouse/demo/employee_source_b73892fc-14a1-4e25-bb9b-323d038dc25d/metadata/snap-6834224639275070960-1-fb2f3cfd-ff53-4650-afc2-a2d7f31a8ea8.avro")

# Show it as a table (easy reading)
df.show(truncate=False)

+-------------------------------------------------------------------------------------------------------------------------------+---------------+-----------------+-------+---------------+-------------------+-------------------+-----------------+--------------------+-------------------+----------------+-------------------+------------------+----------------------------------------+
|manifest_path                                                                                                                  |manifest_length|partition_spec_id|content|sequence_number|min_sequence_number|added_snapshot_id  |added_files_count|existing_files_count|deleted_files_count|added_rows_count|existing_rows_count|deleted_rows_count|partitions                              |
+-------------------------------------------------------------------------------------------------------------------------------+---------------+-----------------+-------+---------------+-------------------+-------------------+-----------------+--------------------+-------------------+----------------+-------------------+------------------+----------------------------------------+
|s3a://warehouse/demo/employee_source_b73892fc-14a1-4e25-bb9b-323d038dc25d/metadata/fb2f3cfd-ff53-4650-afc2-a2d7f31a8ea8-m0.avro|7378           |0                |0      |1              |1                  |6834224639275070960|3                |0                   |0                  |4               |0                  |0                 |[{false, false, [41 50 41 43], [4E 41]}]|
+-------------------------------------------------------------------------------------------------------------------------------+---------------+-----------------+-------+---------------+-------------------+-------------------+-----------------+--------------------+-------------------+----------------+-------------------+------------------+----------------------------------------+

In [33]:
# Read the Avro manifest list
df = spark.read.format("avro").load("s3a://warehouse/demo/employee_source_b73892fc-14a1-4e25-bb9b-323d038dc25d/metadata/fb2f3cfd-ff53-4650-afc2-a2d7f31a8ea8-m0.avro")

# Show it as a table (easy reading)
df.show(truncate=False)

+------+-------------------+---------------+--------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|status|snapshot_id        |sequence_number|file_sequence_number|data_file                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
+------+-------------------+---------------+--------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1     |6834224639275070960|NULL           |NULL                |{0, s3a://warehouse/demo/employee_source_b73892fc-14a1-4e25-bb9b-323d038dc25d/data/region=APAC/00000-20-f1509be5-242f-4a7e-9d57-bc967a92894e-0-00002.parquet, PARQUET, {APAC}, 1, 1680, [{1, 42}, {2, 49}, {3, 53}, {4, 42}, {5, 46}, {6, 46}], [{1, 1}, {2, 1}, {3, 1}, {4, 1}, {5, 1}, {6, 1}], [{1, 0}, {2, 0}, {3, 0}, {4, 0}, {5, 0}, {6, 0}], [{4, 0}], [{1, [03 00 00 00]}, {2, [4D 61 6E 61 67 65 72]}, {3, [45 6E 67 69 6E 65 65 72 69 6E 67]}, {4, [00 50 C3 46]}, {5, [41 50 41 43]}, {6, [42 6F 20 57]}], [{1, [03 00 00 00]}, {2, [4D 61 6E 61 67 65 72]}, {3, [45 6E 67 69 6E 65 65 72 69 6E 67]}, {4, [00 50 C3 46]}, {5, [41 50 41 43]}, {6, [42 6F 20 57]}], NULL, [4], NULL, 0}                                      |
|1     |6834224639275070960|NULL           |NULL                |{0, s3a://warehouse/demo/employee_source_b73892fc-14a1-4e25-bb9b-323d038dc25d/data/region=NA/00000-20-f1509be5-242f-4a7e-9d57-bc967a92894e-0-00001.parquet, PARQUET, {NA}, 1, 1736, [{1, 42}, {2, 59}, {3, 53}, {4, 42}, {5, 44}, {6, 46}], [{1, 1}, {2, 1}, {3, 1}, {4, 1}, {5, 1}, {6, 1}], [{1, 0}, {2, 0}, {3, 0}, {4, 0}, {5, 0}, {6, 0}], [{4, 0}], [{1, [01 00 00 00]}, {2, [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 65]}, {3, [45 6E 67 69 6E 65 65 72 69 6E 67]}, {4, [00 50 C3 46]}, {5, [4E 41]}, {6, [4A 61 63 6B]}], [{1, [01 00 00 00]}, {2, [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 66]}, {3, [45 6E 67 69 6E 65 65 72 69 6E 67]}, {4, [00 50 C3 46]}, {5, [4E 41]}, {6, [4A 61 63 6B]}], NULL, [4], NULL, 0}|
|1     |6834224639275070960|NULL           |NULL                |{0, s3a://warehouse/demo/employee_source_b73892fc-14a1-4e25-bb9b-323d038dc25d/data/region=EMEA/00000-20-f1509be5-242f-4a7e-9d57-bc967a92894e-0-00003.parquet, PARQUET, {EMEA}, 2, 1743, [{1, 46}, {2, 63}, {3, 62}, {4, 46}, {5, 76}, {6, 76}], [{1, 2}, {2, 2}, {3, 2}, {4, 2}, {5, 2}, {6, 2}], [{1, 0}, {2, 0}, {3, 0}, {4, 0}, {5, 0}, {6, 0}], [{4, 0}], [{1, [02 00 00 00]}, {2, [44 65 76 65 6C 6F 70 65 72]}, {3, [45 6E 67 69 6E 65 65 72 69 6E 67]}, {4, [00 80 3B 46]}, {5, [45 4D 45 41]}, {6, [42 6F 20 57]}], [{1, [04 00 00 00]}, {2, [44 69 72 65 63 74 6F 72]}, {3, [53 61 6C 65 73]}, {4, [00 E0 AB 46]}, {5, [45 4D 45 41]}, {6, [42 6F 20 57]}], NULL, [4], NULL, 0}                                               |
+------+-------------------+---------------+--------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [36]:
spark.sql("""
select * from nessie.demo.employee_source.manifests
""").show(truncate=False)

+-------+-------------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+------------------------+---------------------------+--------------------------+----------------------------+
|content|path                                                                                                                           |length|partition_spec_id|added_snapshot_id  |added_data_files_count|existing_data_files_count|deleted_data_files_count|added_delete_files_count|existing_delete_files_count|deleted_delete_files_count|partition_summaries         |
+-------+-------------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+------------------------+---------------------------+--------------------------+----------------------------+
|0      |s3a://warehouse/demo/employee_source_b73892fc-14a1-4e25-bb9b-323d038dc25d/metadata/6871d7ca-0163-43be-a039-862d7a995625-m1.avro|7243  |0                |6829033160407099953|1                     |0                        |0                       |0                       |0                          |0                         |[{false, false, EMEA, EMEA}]|
|0      |s3a://warehouse/demo/employee_source_b73892fc-14a1-4e25-bb9b-323d038dc25d/metadata/6871d7ca-0163-43be-a039-862d7a995625-m0.avro|7394  |0                |6829033160407099953|0                     |2                        |1                       |0                       |0                          |0                         |[{false, false, APAC, NA}]  |
+-------+-------------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+------------------------+---------------------------+--------------------------+----------------------------+

In [38]:
spark.sql("DELETE FROM nessie.demo.employee WHERE id < 3")

DataFrame[]

In [4]:
spark.sql("""
select * from nessie.demo.employee
""").show()

25/12/29 21:44:47 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties

+---+---------+-----------+-------+------+-------+
| id|    title| department| salary|region|manager|
+---+---------+-----------+-------+------+-------+
|  3|  Manager|Engineering|25000.0|  APAC|   Bo W|
|  4|Developer|Engineering|12000.0|  EMEA|   Bo W|
+---+---------+-----------+-------+------+-------+

In [41]:
spark.sql("""SELECT * FROM nessie.demo.employee.metadata_log_entries
""").show(truncate=False)

+-----------------------+------------------------------------------------------------------------------------------------------------------------------------+-------------------+----------------+----------------------+
|timestamp              |file                                                                                                                                |latest_snapshot_id |latest_schema_id|latest_sequence_number|
+-----------------------+------------------------------------------------------------------------------------------------------------------------------------+-------------------+----------------+----------------------+
|2025-12-20 19:06:28.317|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/00000-d636e9e1-f73b-4c55-9712-132f8c4e7d8d.metadata.json|NULL               |NULL            |NULL                  |
|2025-12-20 19:26:43.429|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/00001-3efbdb2d-34de-4d27-a519-88e7caa35c28.metadata.json|NULL               |NULL            |NULL                  |
|2025-12-20 19:40:04.117|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/00002-e3fe2283-2188-4be2-8089-cab70adfeaf6.metadata.json|NULL               |NULL            |NULL                  |
|2025-12-20 22:20:11.146|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/00003-7dbc3a2a-e016-4eb8-a603-8b08931b095d.metadata.json|NULL               |NULL            |NULL                  |
|2025-12-20 23:21:13.028|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/00004-35493455-9cfb-40d8-8901-c817e457d203.metadata.json|NULL               |NULL            |NULL                  |
|2025-12-22 22:37:08.655|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/00005-b7e15f88-0f8e-4469-a60c-6b13bc56008d.metadata.json|NULL               |NULL            |NULL                  |
|2025-12-23 21:17:14.672|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/00006-6f7f0bbf-6f64-46ec-8460-b8608b1ec724.metadata.json|4776718034125825857|2               |1                     |
|2025-12-23 23:26:36.968|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/00007-c649e98d-5d30-4714-a931-e032b94ac3f2.metadata.json|5620577962586266168|2               |2                     |
|2025-12-23 23:37:14.274|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/00008-ae7322a2-6396-4f0f-bc67-b2a56f66dadc.metadata.json|3090578246322431104|2               |3                     |
+-----------------------+------------------------------------------------------------------------------------------------------------------------------------+-------------------+----------------+----------------------+

In [42]:
spark.sql("""SELECT * FROM nessie.demo.employee.snapshots
""").show(truncate=False)

+-----------------------+-------------------+-------------------+---------+------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|committed_at           |snapshot_id        |parent_id          |operation|manifest_list                                                                                                                                   |summary                                                                                                                                                                                                                                                                                               |
+-----------------------+-------------------+-------------------+---------+------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|2025-12-22 22:37:16.707|4776718034125825857|NULL               |append   |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/snap-4776718034125825857-1-a461d5ed-9ebd-4a76-88ef-83515d85d8a9.avro|{spark.app.id -> local-1766185832127, added-data-files -> 2, added-records -> 2, added-files-size -> 3284, changed-partition-count -> 2, total-records -> 2, total-files-size -> 3284, total-data-files -> 2, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}      |
|2025-12-23 21:17:24.464|5620577962586266168|4776718034125825857|overwrite|s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/snap-5620577962586266168-1-d7016d66-b1e4-439b-a800-eb7a2e35f080.avro|{spark.app.id -> local-1766515675046, added-data-files -> 2, added-records -> 2, added-files-size -> 3374, changed-partition-count -> 2, total-records -> 4, total-files-size -> 6658, total-data-files -> 4, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}      |
|2025-12-23 23:26:37.56 |3090578246322431104|5620577962586266168|delete   |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/snap-3090578246322431104-1-3ed2377d-3a9b-4fe6-a476-8792cee5a9a6.avro|{spark.app.id -> local-1766515675046, deleted-data-files -> 2, deleted-records -> 2, removed-files-size -> 3284, changed-partition-count -> 2, total-records -> 2, total-files-size -> 3374, total-data-files -> 2, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
+-----------------------+-------------------+-------------------+---------+------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [5]:
spark.sql("""
desc formatted nessie.demo.employee_source
""").show()

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|                  id|                 int|   NULL|
|               title|              string|   NULL|
|          department|              string|   NULL|
|              salary|               float|   NULL|
|              region|              string|   NULL|
|             manager|              string|   NULL|
|# Partition Infor...|                    |       |
|          # col_name|           data_type|comment|
|              region|              string|   NULL|
|                    |                    |       |
|  # Metadata Columns|                    |       |
|            _spec_id|                 int|       |
|          _partition|struct<region:str...|       |
|               _file|              string|       |
|                _pos|              bigint|       |
|            _deleted|             boolean|       |
|                    |                    |       |
|# Detailed Table ...|                    |       |
|                Name|nessie.demo.emplo...|       |
|                Type|             MANAGED|       |
+--------------------+--------------------+-------+
only showing top 20 rows

In [6]:
spark.sql("""
desc formatted nessie.demo.employee
""").show()

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|                  id|                 int|   NULL|
|               title|              string|   NULL|
|          department|              string|   NULL|
|              salary|               float|   NULL|
|              region|              string|   NULL|
|             manager|              string|   NULL|
|# Partition Infor...|                    |       |
|          # col_name|           data_type|comment|
|              region|              string|   NULL|
|                    |                    |       |
|  # Metadata Columns|                    |       |
|            _spec_id|                 int|       |
|          _partition|struct<region:str...|       |
|               _file|              string|       |
|                _pos|              bigint|       |
|            _deleted|             boolean|       |
|                    |                    |       |
|# Detailed Table ...|                    |       |
|                Name|nessie.demo.employee|       |
|                Type|             MANAGED|       |
+--------------------+--------------------+-------+
only showing top 20 rows

In [10]:
spark.sql("""
  SELECT * FROM nessie.demo.employee.partitions
""").show()

+---------+-------+------------+----------+-----------------------------+----------------------------+--------------------------+----------------------------+--------------------------+--------------------+------------------------+
|partition|spec_id|record_count|file_count|total_data_file_size_in_bytes|position_delete_record_count|position_delete_file_count|equality_delete_record_count|equality_delete_file_count|     last_updated_at|last_updated_snapshot_id|
+---------+-------+------------+----------+-----------------------------+----------------------------+--------------------------+----------------------------+--------------------------+--------------------+------------------------+
|   {APAC}|      1|           1|         1|                         1680|                           0|                         0|                           0|                         0|2025-12-23 21:17:...|     5620577962586266168|
|   {EMEA}|      1|           1|         1|                         1694|                           0|                         0|                           0|                         0|2025-12-23 21:17:...|     5620577962586266168|
+---------+-------+------------+----------+-----------------------------+----------------------------+--------------------------+----------------------------+--------------------------+--------------------+------------------------+

In [11]:
spark.sql("""
  SELECT * FROM nessie.demo.employee
""").show()

+---+---------+-----------+-------+------+-------+
| id|    title| department| salary|region|manager|
+---+---------+-----------+-------+------+-------+
|  3|  Manager|Engineering|25000.0|  APAC|   Bo W|
|  4|Developer|Engineering|12000.0|  EMEA|   Bo W|
+---+---------+-----------+-------+------+-------+

In [13]:
spark.sql("""
  SELECT * FROM nessie.demo.employee_source
""").show()

+---+-----------------+-----------+-------+------+-------+
| id|            title| department| salary|region|manager|
+---+-----------------+-----------+-------+------+-------+
|  3|          Manager|Engineering|25000.0|  APAC|   Bo W|
|  4|        Developer|Engineering|12000.0|  EMEA|   Bo W|
|  2|          Manager|      Sales|25000.0|  EMEA|   Bo W|
|  1|Software Engineer|Engineering|25000.0|    NA|   Jack|
+---+-----------------+-----------+-------+------+-------+

In [15]:
spark.sql("""
select * from nessie.demo.employee_source
where region = 'EMEA'
""").show()

+---+---------+-----------+-------+------+-------+
| id|    title| department| salary|region|manager|
+---+---------+-----------+-------+------+-------+
|  4|Developer|Engineering|12000.0|  EMEA|   Bo W|
|  2|  Manager|      Sales|25000.0|  EMEA|   Bo W|
+---+---------+-----------+-------+------+-------+

In [18]:
spark.sql("""
insert overwrite nessie.demo.employee
partition(region = 'EMEA')
select id, title, department, salary, manager from nessie.demo.employee_source
where region = 'EMEA'
""")

DataFrame[]

In [19]:
spark.sql("""
  SELECT * FROM nessie.demo.employee
""").show()

+---+---------+-----------+-------+------+-------+
| id|    title| department| salary|region|manager|
+---+---------+-----------+-------+------+-------+
|  3|  Manager|Engineering|25000.0|  APAC|   Bo W|
|  2|  Manager|      Sales|25000.0|  EMEA|   Bo W|
|  4|Developer|Engineering|12000.0|  EMEA|   Bo W|
+---+---------+-----------+-------+------+-------+

In [21]:
spark.sql("""
  SELECT * FROM nessie.demo.employee.manifests
""").show(truncate=False)

+-------+------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+------------------------+---------------------------+--------------------------+----------------------------+
|content|path                                                                                                                    |length|partition_spec_id|added_snapshot_id  |added_data_files_count|existing_data_files_count|deleted_data_files_count|added_delete_files_count|existing_delete_files_count|deleted_delete_files_count|partition_summaries         |
+-------+------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+------------------------+---------------------------+--------------------------+----------------------------+
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/38e3ec5e-345e-4068-a579-fd321bfac8f1-m1.avro|7234  |1                |2890811421680264854|1                     |0                        |0                       |0                       |0                          |0                         |[{false, false, EMEA, EMEA}]|
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/38e3ec5e-345e-4068-a579-fd321bfac8f1-m0.avro|7277  |1                |2890811421680264854|0                     |1                        |1                       |0                       |0                          |0                         |[{false, false, APAC, EMEA}]|
+-------+------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+------------------------+---------------------------+--------------------------+----------------------------+

In [22]:
spark.sql("""
  SELECT * FROM nessie.demo.employee.files
""").show(truncate=False)

+-------+-------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|content|file_path                                                                                                                                        |file_format|spec_id|partition|record_count|file_size_in_bytes|column_sizes                                          |value_counts                                    |null_value_counts                               |nan_value_counts|lower_bounds                                                                                                                                                |upper_bounds                                                                                                                                          |key_metadata|split_offsets|equality_ids|sort_order_id|readable_metrics                                                                                                                                                                                     |
+-------+-------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=EMEA/00000-7-e785a2f3-730b-4395-be48-499a6da188bc-0-00001.parquet |PARQUET    |1      |{EMEA}   |2           |1731              |{1 -> 45, 2 -> 62, 3 -> 62, 4 -> 46, 5 -> 70, 6 -> 76}|{1 -> 2, 2 -> 2, 3 -> 2, 4 -> 2, 5 -> 2, 6 -> 2}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [02 00 00 00], 2 -> [44 65 76 65 6C 6F 70 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 80 3B 46], 5 -> [45 4D 45 41], 6 -> [42 6F 20 57]}|{1 -> [04 00 00 00], 2 -> [4D 61 6E 61 67 65 72], 3 -> [53 61 6C 65 73], 4 -> [00 50 C3 46], 5 -> [45 4D 45 41], 6 -> [42 6F 20 57]}                  |NULL        |[4]          |NULL        |0            |{{62, 2, 0, NULL, Engineering, Sales}, {45, 2, 0, NULL, 2, 4}, {76, 2, 0, NULL, Bo W, Bo W}, {70, 2, 0, NULL, EMEA, EMEA}, {46, 2, 0, 0, 12000.0, 25000.0}, {62, 2, 0, NULL, Developer, Manager}}    |
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=APAC/00000-14-7bdb7b0b-05b1-4332-9bcb-9f627d2f50cd-0-00001.parquet|PARQUET    |1      |{APAC}   |1           |1680              |{1 -> 42, 2 -> 49, 3 -> 53, 4 -> 42, 5 -> 46, 6 -> 46}|{1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1, 5 -> 1, 6 -> 1}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [03 00 00 00], 2 -> [4D 61 6E 61 67 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [41 50 41 43], 6 -> [42 6F 20 57]}      |{1 -> [03 00 00 00], 2 -> [4D 61 6E 61 67 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [41 50 41 43], 6 -> [42 6F 20 57]}|NULL        |[4]          |NULL        |0            |{{53, 1, 0, NULL, Engineering, Engineering}, {42, 1, 0, NULL, 3, 3}, {46, 1, 0, NULL, Bo W, Bo W}, {46, 1, 0, NULL, APAC, APAC}, {42, 1, 0, 0, 25000.0, 25000.0}, {49, 1, 0, NULL, Manager, Manager}}|
+-------+-------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [23]:
spark.conf.set("spark.sql.sources.partitionOverwriteMode", "dynamic")

In [24]:
spark.sql("""
INSERT OVERWRITE nessie.demo.employee
SELECT * FROM nessie.demo.employee_source
WHERE region = 'NA'
""")

DataFrame[]

In [25]:
spark.sql("""
  SELECT * FROM nessie.demo.employee
""").show()

+---+-----------------+-----------+-------+------+-------+
| id|            title| department| salary|region|manager|
+---+-----------------+-----------+-------+------+-------+
|  1|Software Engineer|Engineering|25000.0|    NA|   Jack|
|  2|          Manager|      Sales|25000.0|  EMEA|   Bo W|
|  4|        Developer|Engineering|12000.0|  EMEA|   Bo W|
|  3|          Manager|Engineering|25000.0|  APAC|   Bo W|
+---+-----------------+-----------+-------+------+-------+

In [26]:
spark.sql("""
  SELECT * FROM nessie.demo.employee.files
""").show(truncate=False)

+-------+-------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|content|file_path                                                                                                                                        |file_format|spec_id|partition|record_count|file_size_in_bytes|column_sizes                                          |value_counts                                    |null_value_counts                               |nan_value_counts|lower_bounds                                                                                                                                                               |upper_bounds                                                                                                                                                               |key_metadata|split_offsets|equality_ids|sort_order_id|readable_metrics                                                                                                                                                                                                   |
+-------+-------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=NA/00000-14-92615ee2-4abc-46b2-aee5-97fe12c66ecf-0-00001.parquet  |PARQUET    |1      |{NA}     |1           |1736              |{1 -> 42, 2 -> 59, 3 -> 53, 4 -> 42, 5 -> 44, 6 -> 46}|{1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1, 5 -> 1, 6 -> 1}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [01 00 00 00], 2 -> [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 65], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [4E 41], 6 -> [4A 61 63 6B]}|{1 -> [01 00 00 00], 2 -> [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 66], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [4E 41], 6 -> [4A 61 63 6B]}|NULL        |[4]          |NULL        |0            |{{53, 1, 0, NULL, Engineering, Engineering}, {42, 1, 0, NULL, 1, 1}, {46, 1, 0, NULL, Jack, Jack}, {44, 1, 0, NULL, NA, NA}, {42, 1, 0, 0, 25000.0, 25000.0}, {59, 1, 0, NULL, Software Enginee, Software Enginef}}|
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=EMEA/00000-7-e785a2f3-730b-4395-be48-499a6da188bc-0-00001.parquet |PARQUET    |1      |{EMEA}   |2           |1731              |{1 -> 45, 2 -> 62, 3 -> 62, 4 -> 46, 5 -> 70, 6 -> 76}|{1 -> 2, 2 -> 2, 3 -> 2, 4 -> 2, 5 -> 2, 6 -> 2}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [02 00 00 00], 2 -> [44 65 76 65 6C 6F 70 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 80 3B 46], 5 -> [45 4D 45 41], 6 -> [42 6F 20 57]}               |{1 -> [04 00 00 00], 2 -> [4D 61 6E 61 67 65 72], 3 -> [53 61 6C 65 73], 4 -> [00 50 C3 46], 5 -> [45 4D 45 41], 6 -> [42 6F 20 57]}                                       |NULL        |[4]          |NULL        |0            |{{62, 2, 0, NULL, Engineering, Sales}, {45, 2, 0, NULL, 2, 4}, {76, 2, 0, NULL, Bo W, Bo W}, {70, 2, 0, NULL, EMEA, EMEA}, {46, 2, 0, 0, 12000.0, 25000.0}, {62, 2, 0, NULL, Developer, Manager}}                  |
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=APAC/00000-14-7bdb7b0b-05b1-4332-9bcb-9f627d2f50cd-0-00001.parquet|PARQUET    |1      |{APAC}   |1           |1680              |{1 -> 42, 2 -> 49, 3 -> 53, 4 -> 42, 5 -> 46, 6 -> 46}|{1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1, 5 -> 1, 6 -> 1}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [03 00 00 00], 2 -> [4D 61 6E 61 67 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [41 50 41 43], 6 -> [42 6F 20 57]}                     |{1 -> [03 00 00 00], 2 -> [4D 61 6E 61 67 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [41 50 41 43], 6 -> [42 6F 20 57]}                     |NULL        |[4]          |NULL        |0            |{{53, 1, 0, NULL, Engineering, Engineering}, {42, 1, 0, NULL, 3, 3}, {46, 1, 0, NULL, Bo W, Bo W}, {46, 1, 0, NULL, APAC, APAC}, {42, 1, 0, 0, 25000.0, 25000.0}, {49, 1, 0, NULL, Manager, Manager}}              |
+-------+-------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [28]:
spark.sql("DELETE FROM nessie.demo.employee WHERE id = 2")

DataFrame[]

In [29]:
spark.sql("""
  SELECT * FROM nessie.demo.employee
""").show()

+---+-----------------+-----------+-------+------+-------+
| id|            title| department| salary|region|manager|
+---+-----------------+-----------+-------+------+-------+
|  1|Software Engineer|Engineering|25000.0|    NA|   Jack|
|  4|        Developer|Engineering|12000.0|  EMEA|   Bo W|
|  3|          Manager|Engineering|25000.0|  APAC|   Bo W|
+---+-----------------+-----------+-------+------+-------+

In [30]:
spark.sql("""
  SELECT * FROM nessie.demo.employee.files
""").show(truncate=False)

+-------+-------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|content|file_path                                                                                                                                        |file_format|spec_id|partition|record_count|file_size_in_bytes|column_sizes                                          |value_counts                                    |null_value_counts                               |nan_value_counts|lower_bounds                                                                                                                                                               |upper_bounds                                                                                                                                                               |key_metadata|split_offsets|equality_ids|sort_order_id|readable_metrics                                                                                                                                                                                                   |
+-------+-------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=EMEA/00000-20-c23e3f88-46de-4da8-8eec-b49c0bfb0916-0-00001.parquet|PARQUET    |1      |{EMEA}   |1           |1694              |{1 -> 42, 2 -> 51, 3 -> 53, 4 -> 42, 5 -> 46, 6 -> 46}|{1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1, 5 -> 1, 6 -> 1}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [04 00 00 00], 2 -> [44 65 76 65 6C 6F 70 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 80 3B 46], 5 -> [45 4D 45 41], 6 -> [42 6F 20 57]}               |{1 -> [04 00 00 00], 2 -> [44 65 76 65 6C 6F 70 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 80 3B 46], 5 -> [45 4D 45 41], 6 -> [42 6F 20 57]}               |NULL        |[4]          |NULL        |0            |{{53, 1, 0, NULL, Engineering, Engineering}, {42, 1, 0, NULL, 4, 4}, {46, 1, 0, NULL, Bo W, Bo W}, {46, 1, 0, NULL, EMEA, EMEA}, {42, 1, 0, 0, 12000.0, 12000.0}, {51, 1, 0, NULL, Developer, Developer}}          |
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=NA/00000-14-92615ee2-4abc-46b2-aee5-97fe12c66ecf-0-00001.parquet  |PARQUET    |1      |{NA}     |1           |1736              |{1 -> 42, 2 -> 59, 3 -> 53, 4 -> 42, 5 -> 44, 6 -> 46}|{1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1, 5 -> 1, 6 -> 1}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [01 00 00 00], 2 -> [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 65], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [4E 41], 6 -> [4A 61 63 6B]}|{1 -> [01 00 00 00], 2 -> [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 66], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [4E 41], 6 -> [4A 61 63 6B]}|NULL        |[4]          |NULL        |0            |{{53, 1, 0, NULL, Engineering, Engineering}, {42, 1, 0, NULL, 1, 1}, {46, 1, 0, NULL, Jack, Jack}, {44, 1, 0, NULL, NA, NA}, {42, 1, 0, 0, 25000.0, 25000.0}, {59, 1, 0, NULL, Software Enginee, Software Enginef}}|
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=APAC/00000-14-7bdb7b0b-05b1-4332-9bcb-9f627d2f50cd-0-00001.parquet|PARQUET    |1      |{APAC}   |1           |1680              |{1 -> 42, 2 -> 49, 3 -> 53, 4 -> 42, 5 -> 46, 6 -> 46}|{1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1, 5 -> 1, 6 -> 1}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [03 00 00 00], 2 -> [4D 61 6E 61 67 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [41 50 41 43], 6 -> [42 6F 20 57]}                     |{1 -> [03 00 00 00], 2 -> [4D 61 6E 61 67 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [41 50 41 43], 6 -> [42 6F 20 57]}                     |NULL        |[4]          |NULL        |0            |{{53, 1, 0, NULL, Engineering, Engineering}, {42, 1, 0, NULL, 3, 3}, {46, 1, 0, NULL, Bo W, Bo W}, {46, 1, 0, NULL, APAC, APAC}, {42, 1, 0, 0, 25000.0, 25000.0}, {49, 1, 0, NULL, Manager, Manager}}              |
+-------+-------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [40]:
spark.sql("ALTER TABLE nessie.demo.employee SET TBLPROPERTIES ('gc.enabled' = 'true')")
spark.sql(f"""
    CALL nessie.system.expire_snapshots(
        table => 'nessie.demo.employee', 
        older_than => TIMESTAMP '2025-12-24 00:00:00', 
        retain_last => 4
    )
""")

DataFrame[deleted_data_files_count: bigint, deleted_position_delete_files_count: bigint, deleted_equality_delete_files_count: bigint, deleted_manifest_files_count: bigint, deleted_manifest_lists_count: bigint, deleted_statistics_files_count: bigint]

In [42]:
spark.sql("CALL nessie.system.rewrite_data_files('demo.employee')").show()

+--------------------------+----------------------+---------------------+-----------------------+
|rewritten_data_files_count|added_data_files_count|rewritten_bytes_count|failed_data_files_count|
+--------------------------+----------------------+---------------------+-----------------------+
|                         0|                     0|                    0|                      0|
+--------------------------+----------------------+---------------------+-----------------------+

In [44]:
spark.sql("""
CALL nessie.system.rewrite_data_files(
  table => 'demo.employee',
  strategy => 'sort',
  sort_order => 'id ASC' -- You can also use 'id DESC, manager ASC'
)
""")

DataFrame[rewritten_data_files_count: int, added_data_files_count: int, rewritten_bytes_count: bigint, failed_data_files_count: int]

In [45]:
spark.sql("""
  SELECT * FROM nessie.demo.employee
""").show()

+---+-----------------+-----------+-------+------+-------+
| id|            title| department| salary|region|manager|
+---+-----------------+-----------+-------+------+-------+
|  3|          Manager|Engineering|25000.0|  APAC|   Bo W|
|  1|Software Engineer|Engineering|25000.0|    NA|   Jack|
|  4|        Developer|Engineering|12000.0|  EMEA|   Bo W|
+---+-----------------+-----------+-------+------+-------+

In [48]:
spark.sql("""
show create table nessie.demo.employee
""").show(truncate=False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|createtab_stmt                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|CREATE TABLE nessie.demo.employee (\n  id INT,\n  title STRING,\n  department STRING,\n  salary FLOAT,\n  region STRING,\n  manager STRING)\nUSING iceberg\nPARTITIONED BY (region)\nLOCATION 's3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26'\nTBLPROPERTIES (\n  'current-snapshot-id' = '5064661927969543513',\n  'format' = 'iceberg/parquet',\n  'format-version' = '2',\n  'gc.enabled' = 'true',\n  'nessie.commit.id' = 'ebdf7b6f7374a7e7450e9871f33dd5f5732a46b25d16b0f6f05dd60a6a86a580',\n  'nessie.gc.no-warning' = 'true',\n  'sort-order' = 'id ASC NULLS FIRST',\n  'write.distribution-mode' = 'range',\n  'write.metadata.delete-after-commit.enabled' = 'false',\n  'write.parquet.compression-codec' = 'zstd',\n  'write.wap.enabled' = 'true')\n|
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [51]:
spark.sql("""
desc formatted nessie.demo.employee
""").show(n=100, truncate=False)

+----------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                                                                                                                                                                                                                                                                                                             |comment|
+----------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+
|id                          |int                                                                                                                                                                                                                                                                                                                                                                                   |NULL   |
|title                       |string                                                                                                                                                                                                                                                                                                                                                                                |NULL   |
|department                  |string                                                                                                                                                                                                                                                                                                                                                                                |NULL   |
|salary                      |float                                                                                                                                                                                                                                                                                                                                                                                 |NULL   |
|region                      |string                                                                                                                                                                                                                                                                                                                                                                                |NULL   |
|manager                     |string                                                                                                                                                                                                                                                                                                                                                                                |NULL   |
|# Partition Information     |                                                                                                                                                                                                                                                                                                                                                                                      |       |
|# col_name                  |data_type                                                                                                                                                                                                                                                                                                                                                                             |comment|
|region                      |string                                                                                                                                                                                                                                                                                                                                                                                |NULL   |
|                            |                                                                                                                                                                                                                                                                                                                                                                                      |       |
|# Metadata Columns          |                                                                                                                                                                                                                                                                                                                                                                                      |       |
|_spec_id                    |int                                                                                                                                                                                                                                                                                                                                                                                   |       |
|_partition                  |struct<region:string>                                                                                                                                                                                                                                                                                                                                                                 |       |
|_file                       |string                                                                                                                                                                                                                                                                                                                                                                                |       |
|_pos                        |bigint                                                                                                                                                                                                                                                                                                                                                                                |       |
|_deleted                    |boolean                                                                                                                                                                                                                                                                                                                                                                               |       |
|                            |                                                                                                                                                                                                                                                                                                                                                                                      |       |
|# Detailed Table Information|                                                                                                                                                                                                                                                                                                                                                                                      |       |
|Name                        |nessie.demo.employee                                                                                                                                                                                                                                                                                                                                                                  |       |
|Type                        |MANAGED                                                                                                                                                                                                                                                                                                                                                                               |       |
|Location                    |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26                                                                                                                                                                                                                                                                                                                    |       |
|Provider                    |iceberg                                                                                                                                                                                                                                                                                                                                                                               |       |
|Owner                       |docker                                                                                                                                                                                                                                                                                                                                                                                |       |
|Table Properties            |[current-snapshot-id=5064661927969543513,format=iceberg/parquet,format-version=2,gc.enabled=true,nessie.commit.id=ebdf7b6f7374a7e7450e9871f33dd5f5732a46b25d16b0f6f05dd60a6a86a580,nessie.gc.no-warning=true,sort-order=id ASC NULLS FIRST,write.distribution-mode=range,write.metadata.delete-after-commit.enabled=false,write.parquet.compression-codec=zstd,write.wap.enabled=true]|       |
+----------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+

In [52]:
spark.sql("""
desc formatted nessie.demo.employee
""").toPandas()

ImportError: Pandas >= 1.0.5 must be installed; however, it was not found.

In [54]:
spark.sql("""
ALTER TABLE nessie.demo.employee SET TBLPROPERTIES (
'write.delete.mode'='merge-on-read',
'write.update.mode'='copy-on-write',
'write.merge.mode'='copy-on-write'
)
""")

DataFrame[]

In [55]:
spark.sql("""
update nessie.demo.employee
set salary = 20000
where id = 1
""")

DataFrame[]

In [56]:
spark.sql("""
  SELECT * FROM nessie.demo.employee
""").show()

+---+-----------------+-----------+-------+------+-------+
| id|            title| department| salary|region|manager|
+---+-----------------+-----------+-------+------+-------+
|  3|          Manager|Engineering|25000.0|  APAC|   Bo W|
|  4|        Developer|Engineering|12000.0|  EMEA|   Bo W|
|  1|Software Engineer|Engineering|20000.0|    NA|   Jack|
+---+-----------------+-----------+-------+------+-------+

In [57]:
spark.sql("""
  SELECT * FROM nessie.demo.employee.files
""").show(truncate=False)

+-------+-------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|content|file_path                                                                                                                                        |file_format|spec_id|partition|record_count|file_size_in_bytes|column_sizes                                          |value_counts                                    |null_value_counts                               |nan_value_counts|lower_bounds                                                                                                                                                               |upper_bounds                                                                                                                                                               |key_metadata|split_offsets|equality_ids|sort_order_id|readable_metrics                                                                                                                                                                                                   |
+-------+-------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=NA/00000-1257-5c944eb0-3212-4d82-aa40-ebd8f9326aa3-0-00001.parquet|PARQUET    |1      |{NA}     |1           |1736              |{1 -> 42, 2 -> 59, 3 -> 53, 4 -> 42, 5 -> 44, 6 -> 46}|{1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1, 5 -> 1, 6 -> 1}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [01 00 00 00], 2 -> [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 65], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 40 9C 46], 5 -> [4E 41], 6 -> [4A 61 63 6B]}|{1 -> [01 00 00 00], 2 -> [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 66], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 40 9C 46], 5 -> [4E 41], 6 -> [4A 61 63 6B]}|NULL        |[4]          |NULL        |0            |{{53, 1, 0, NULL, Engineering, Engineering}, {42, 1, 0, NULL, 1, 1}, {46, 1, 0, NULL, Jack, Jack}, {44, 1, 0, NULL, NA, NA}, {42, 1, 0, 0, 20000.0, 20000.0}, {59, 1, 0, NULL, Software Enginee, Software Enginef}}|
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=EMEA/00000-20-c23e3f88-46de-4da8-8eec-b49c0bfb0916-0-00001.parquet|PARQUET    |1      |{EMEA}   |1           |1694              |{1 -> 42, 2 -> 51, 3 -> 53, 4 -> 42, 5 -> 46, 6 -> 46}|{1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1, 5 -> 1, 6 -> 1}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [04 00 00 00], 2 -> [44 65 76 65 6C 6F 70 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 80 3B 46], 5 -> [45 4D 45 41], 6 -> [42 6F 20 57]}               |{1 -> [04 00 00 00], 2 -> [44 65 76 65 6C 6F 70 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 80 3B 46], 5 -> [45 4D 45 41], 6 -> [42 6F 20 57]}               |NULL        |[4]          |NULL        |0            |{{53, 1, 0, NULL, Engineering, Engineering}, {42, 1, 0, NULL, 4, 4}, {46, 1, 0, NULL, Bo W, Bo W}, {46, 1, 0, NULL, EMEA, EMEA}, {42, 1, 0, 0, 12000.0, 12000.0}, {51, 1, 0, NULL, Developer, Developer}}          |
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=APAC/00000-14-7bdb7b0b-05b1-4332-9bcb-9f627d2f50cd-0-00001.parquet|PARQUET    |1      |{APAC}   |1           |1680              |{1 -> 42, 2 -> 49, 3 -> 53, 4 -> 42, 5 -> 46, 6 -> 46}|{1 -> 1, 2 -> 1, 3 -> 1, 4 -> 1, 5 -> 1, 6 -> 1}|{1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0, 5 -> 0, 6 -> 0}|{4 -> 0}        |{1 -> [03 00 00 00], 2 -> [4D 61 6E 61 67 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [41 50 41 43], 6 -> [42 6F 20 57]}                     |{1 -> [03 00 00 00], 2 -> [4D 61 6E 61 67 65 72], 3 -> [45 6E 67 69 6E 65 65 72 69 6E 67], 4 -> [00 50 C3 46], 5 -> [41 50 41 43], 6 -> [42 6F 20 57]}                     |NULL        |[4]          |NULL        |0            |{{53, 1, 0, NULL, Engineering, Engineering}, {42, 1, 0, NULL, 3, 3}, {46, 1, 0, NULL, Bo W, Bo W}, {46, 1, 0, NULL, APAC, APAC}, {42, 1, 0, 0, 25000.0, 25000.0}, {49, 1, 0, NULL, Manager, Manager}}              |
+-------+-------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------+---------+------------+------------------+------------------------------------------------------+------------------------------------------------+------------------------------------------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+------------+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [58]:
spark.sql("""
  SELECT * FROM nessie.demo.employee.manifests
""").show(truncate=False)

+-------+------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+------------------------+---------------------------+--------------------------+----------------------------+
|content|path                                                                                                                    |length|partition_spec_id|added_snapshot_id  |added_data_files_count|existing_data_files_count|deleted_data_files_count|added_delete_files_count|existing_delete_files_count|deleted_delete_files_count|partition_summaries         |
+-------+------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+------------------------+---------------------------+--------------------------+----------------------------+
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/b7cc65f4-c922-4673-82d1-fb6209064412-m1.avro|7213  |1                |1639276383954747532|1                     |0                        |0                       |0                       |0                          |0                         |[{false, false, NA, NA}]    |
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/f25b6179-6bee-4146-b8ed-38f157c5752d-m1.avro|7212  |1                |5064661927969543513|1                     |0                        |0                       |0                       |0                          |0                         |[{false, false, EMEA, EMEA}]|
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/b7cc65f4-c922-4673-82d1-fb6209064412-m0.avro|7212  |1                |1639276383954747532|0                     |0                        |1                       |0                       |0                          |0                         |[{false, false, NA, NA}]    |
|0      |s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/38e3ec5e-345e-4068-a579-fd321bfac8f1-m0.avro|7277  |1                |2890811421680264854|0                     |1                        |1                       |0                       |0                          |0                         |[{false, false, APAC, EMEA}]|
+-------+------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+------------------------+---------------------------+--------------------------+----------------------------+

In [59]:
# Read the Avro manifest list
df = spark.read.format("avro").load("s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/metadata/b7cc65f4-c922-4673-82d1-fb6209064412-m0.avro")

# Show it as a table (easy reading)
df.show(truncate=False)

+------+-------------------+---------------+--------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|status|snapshot_id        |sequence_number|file_sequence_number|data_file                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
+------+-------------------+---------------+--------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|2     |1639276383954747532|5              |5                   |{0, s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=NA/00000-14-92615ee2-4abc-46b2-aee5-97fe12c66ecf-0-00001.parquet, PARQUET, {NA}, 1, 1736, [{1, 42}, {2, 59}, {3, 53}, {4, 42}, {5, 44}, {6, 46}], [{1, 1}, {2, 1}, {3, 1}, {4, 1}, {5, 1}, {6, 1}], [{1, 0}, {2, 0}, {3, 0}, {4, 0}, {5, 0}, {6, 0}], [{4, 0}], [{1, [01 00 00 00]}, {2, [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 65]}, {3, [45 6E 67 69 6E 65 65 72 69 6E 67]}, {4, [00 50 C3 46]}, {5, [4E 41]}, {6, [4A 61 63 6B]}], [{1, [01 00 00 00]}, {2, [53 6F 66 74 77 61 72 65 20 45 6E 67 69 6E 65 66]}, {3, [45 6E 67 69 6E 65 65 72 69 6E 67]}, {4, [00 50 C3 46]}, {5, [4E 41]}, {6, [4A 61 63 6B]}], NULL, [4], NULL, 0}|
+------+-------------------+---------------+--------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [4]:
df = spark.read.parquet("s3a://warehouse/demo/employee_f1ae59e9-eab2-4bba-bf4a-1b2fff895d26/data/region=NA/00000-14-92615ee2-4abc-46b2-aee5-97fe12c66ecf-0-00001.parquet")
df.show(truncate=False)

26/01/01 01:10:44 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties

+---+-----------------+-----------+-------+------+-------+
|id |title            |department |salary |region|manager|
+---+-----------------+-----------+-------+------+-------+
|1  |Software Engineer|Engineering|25000.0|NA    |Jack   |
+---+-----------------+-----------+-------+------+-------+